ipykernel
python-dotenv
streamlit
sentence-transformers
faiss-cpu
pypdf
arxiv
wikipedia
duckduckgo-search
SQLAlchemy
mysql-connector-python
validators
youtube_transcript_api
pytube
unstructured
openai
langchain
langchain-text-splitters
langchain-openai
langchain-community
langchain-core
langchain-groq
langchain-chroma
langchain-huggingface
